/* by 혜원 */

.Rectangle{
    border-top: 338px;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 215px;
    height: 29px;
    border-radius: 8px;


}
input{
    width: 215px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    background-color: lightgray
}
